body {
  background-color: #f4f4f4;
  padding: 1rem;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

h2 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}
